@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
	border-radius: 20px;
	background: #f7f4ed;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
	background: #f70303;
	border: 3px solid #f6f7ed;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
	background: #f70303;
}

.inset-shadow {
	box-shadow: inset 2px -2px 3px 0px #0fa890;
}

html {
	font-family: 'Noto Sans';
}