@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin {
	scrollbar-width: thin;
	scrollbar-color: #27547e #07243c;
}

.scrollbar-thin::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
	border-radius: 20px;
	background: #07243c;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
	background: #27547e;
	border: 3px solid #07243c;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
	background: #27547e;
}

.inset-shadow {
	box-shadow: inset 2px -2px 3px 0px #0fa890;
}

html {
	font-family: 'Noto Sans';
}